<div class="single-pet">

    
    <h4>Name: {{ animal.name}}</h4>
    <p>Type of animal: {{animal.animal}}</p>
    <p>Mix: {{animal.mix}}</p>
    <p>Age: {{animal.age}}</p>
    <p>Gender: {{animal.sex}}</p>
    <p>Size: {{animal.size}}</p>
    <p>Description: {{animal.description}}</p>
  
  {{#if photo}}
    <img src="{{photo}}" alt="">
  {{/if }}

<div class="btn-adopt">

  <button type="button" href="#">Adopt me!</button>
</div>

</div>